:root{
    --color-primario: #be95c4;
    --color-secundario: #9f86c0;
    --color-texto: #8e7dbe;
    --color-terminos:#450920;
    --color-fuente-boton: #f8f9fa;
    --color-boton-desencriptar: #a53860;
    --color-boton-encriptar: #450920;
    --color-boton-limpiar: #e63946;
    
}


*{
    margin: 0;
    padding: 0;
}



.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-primario);
}

.texto{
    position: absolute;
    width: 40%;
    height: 50%;
    left: 25%;
    top: 17%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: var(--color-primario);
}

.texto::placeholder{
    color: var(--color-texto);
    
}

.texto:focus,
.texto:active{
    border: none;
    outline: none;
}
.terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0%;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 25%;
    top: 70%;
}

.terminos p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-terminos);
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
    
}

.botones {
    display: flex;
     /* Alinea todos los elementos en columna */
    align-items: center;
    padding: 0,2% ;
    position: absolute;
    width: 70%;
    left: 25%;
    top: 78%;
}




.boton_limpiar{
    display: flex;
    /* Alinea todos los elementos en columna */
   align-items: center;
  
   position: absolute;
   width: 50%;
   left: 17%;
   top: 85%;
}

.boton_encriptar, .boton_desencriptar {
    display: flex;
    flex-direction: row; /* Mantiene los botones de encriptar y desencriptar en fila */
    gap: 250px; /* Espaciado entre los botones */
}


/*letra*/
.boton_encriptar, .boton_desencriptar  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px ; /* Mismo padding para todos */
    width: 25%; /* Mismo ancho para todos */
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: var(--color-fuente-boton);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* A침ade espacio entre los botones */
}


.boton_limpiar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px ; /* Mismo padding para todos */
    width: 15%; /* Mismo ancho para todos */
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: var(--color-fuente-boton);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* A침ade espacio entre los botones */

}





.boton_encriptar {
    background-color: var(--color-boton-encriptar);
}

.boton_desencriptar {
    background-color: var(--color-boton-desencriptar);
    border: 1px solid #0a3871;
}

.boton_limpiar {
   
    background-color: var(--color-boton-limpiar);
    margin-top: 20px; /* A침ade espacio entre los botones superiores y el bot칩n limpiar */
}

.boton_encriptar:hover, .boton_desencriptar:hover {
    margin: 0.3%;
    width: 24.5%;
    padding: 0.7%;
}

.boton_limpiar:hover {
    width: 60% 20%;
    padding: 0.7%;

}


.Encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 67%;
    top: 5%;
    background: #FFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.mensaje-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensaje-encriptado h2{
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    
}
.mensaje-encriptado p{
    width: 80%;
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
}

.Encriptado img{
    position: absolute;
    width: 80%;
    top: 15%;   
}

@media (max-width: 60em){
    .container {
        display: flex;
        flex-direction: row;
    }
    .encriptar{
        width: 180%;
    }
    .texto {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    .terminos{
        width: 80%;
        left: 10%;
        top: 65%;
    }
    .terminos p{
        font-size: 16px;
    }
    .botones{
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .boton_encriptar, .boton_desencriptar, .boton_limpiar{
        width: 48%;
        border-radius: 16px;
    }
    .boton_encriptar:hover, .boton_desencriptar:hover, .boton_limpiar:hover{
        margin: 0.3%;
        width: 47,5%;
        padding: 1.8%;
    }
    .Encriptado {
        width: 80%;
        height: 15%;
        left: 10%;
        top: 83%;
        
    }
    .mensaje-encriptado{
        width: 100%;
        top: 5%;
        
    }
    .Encriptado img{
        top: 0%;
        display: none;
        visibility: hidden;
    }


}